* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

/* Header */

header {
  align-items: center;
  background-image: linear-gradient(to right, #672280, #A626D3);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.header--name {
  align-items: center;
  display: flex;
}

.header--name h1 {
  font-size: 1.5rem;
}

.header--name p {
  font-size: 1rem;
}

.troll-face {
  height: 30px;
  padding-right: 10px;
}

/* Meme */

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meme--form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  padding: 30px;
  width: 500px;
  gap: 15px
}

.meme--form input {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  padding: 15px;
}

#meme--form--submit {
  align-items: center;
  background-image: linear-gradient(to right, #672280, #A626D3);
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "Karla", sans-serif;
  justify-content: center;
  grid-column: 1 / span 2;
  text-align: center;
}

#meme-img {
  max-width: 400px;
}